
<div class="wrapper">
  <div class="row">
    <div class="col col-12">
      <div class="col2">
        <img class="burger-img img-fluid" src="/assets/img/burger2.png">
      </div>
    </div>
    <div class="row">
      <div class="col col-4">
        <div class="col1">
          <h2>Burgers Ready to Devour!</h2>
          <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            {{> burgers/burgers-block devoured=false}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
      {{!-- <div class="col2">
        <img class="burger-img img-fluid" src="/assets/img/burger2.png">
      </div> --}}
      <div class="col col-4">
        <div class="col3">
          <h2>Burgers that are devoured!</h2>
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burgers-block devoured=true}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="footer text-center">

  <form id="order-burger">
     <h2>Order a Burger</h2>
    <div class="form-group text-center">
      <textarea type="text" id="burger" name="burger_name" placeholder="Enter a burger name"></textarea>
    </div>
    <button class="btn-order" type="submit">Submit Order</button>
  </form>
</footer>