<div class="wrapper">
  <div class="row">
    <div class="col col-12">
      <div class="col2">
        <img class="burger-img img-fluid" src="/assets/img/burger2.png">
      </div>
    </div>
    <div class="row">
      <div class="col col-4">
        <div class="col1">
          <ul>
            <h2>Burgers to Devour!</h2>
            {{#each burgers}}
            {{#unless this.devoured}}
            {{> burgers/burgers-block devoured=false}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col3">
          <ul>
          <h2>Devoured Burgers!</h2>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burgers-block devoured=true}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="footer text-center">

  <form id="order-burger">
    <div class="form-group text-center">
      <h2 id="order-text"><span class="spacing">ORDER </span>a Burger</h2>
      <div>
      <input type="text" class="order-input" id="burger" name="burger_name">
          <button class="btn-order" type="submit">SUBMIT ORDER</button>
          </div>
    </div>

  </form>
</footer>